form{
    margin-top:270px;
    width: 55%;
    padding: 10px;
    border-radius:0;
    border-color: crimson;
}


.entry{
    margin-top: -15%; 
   
    
}

.UsPw{
    margin-top: 10%;
    padding-right: -40%;
}

.blocco{
    margin-right: -65%;
    margin-left: -105%;
}





input, input:hover, input::selection, input:checked, input:focus{
    border: 0;
    background-color: #3d4652;
    border: 2px ;
  padding: 20px;
  border-radius: 25px;
    color: white;
    border-bottom: 1px solid #3d4652;
    margin: 0px; 
}


input::placeholder{
    color: white;
}
.form-control{
border: none;
background-color: #3d4652;
color: white;
border-bottom: 1px solid white;
}

.login{
border: none;
background-color: rgb(0, 255, 106);
color: white;
border: 1px solid white;
border-radius: 2px;
padding-top: 10px;

padding-bottom: 10px;

}

p{
font-size: 20px;
color: white;
}

