<div class="container">
  <div class="row mt-5">
      <div class="col-md-1">

      </div>
          <div class="col-md-10">
              <table>
                  <tr>
                      
                      <th>username</th>
                      <th>nometeam</th>
                      <th>teamRole</th>
                  </tr>
                  
                  <tr>
                      <td>
                          <input placeholder="username" [(ngModel)]="newteamtoinsert.username">
                      </td>
                      <td>
                        <input placeholder="nometeam" [(ngModel)]="newteamtoinsert.nometeam">
                    </td>
                    <td>
                        <input placeholder="teamRole" [(ngModel)]="newteamtoinsert.teamRole">
                    </td>
                      <td>
                          <button (click)="insert(newteamtoinsert)">Insert</button>
                      </td>
                      <td>
                          <button (click)="clear()">Clear</button>
                      </td>
                  </tr>
                  <select placeholder="Location1" [(ngModel)]="newteam.location1.id">
                    <option *ngFor="let location1 of location1s" value="{{location1.id}}">{{location1.id}}</option>
                    </select>
                    <tr *ngFor="let newteam of newteams">
                        <td>
                          <input type="button" [(ngModel)]="newteam.nometeam">
                        </td>
                        <td>
                          <input [(ngModel)]="newteam.nometeam">
                        </td>
                        <td>
                          <select [(ngModel)]="newteam.location.id">
                          <option *ngFor="let location of locations" value="{{location.id}}">{{location.id}}</option>
                          </select>
                        </td>
                        <td>
                            <input type="button" [(ngModel)]="newteam.username">
                          </td>
                        <td>
                          <input [(ngModel)]="newteam.username">
                        </td>
                       
                        
                      </tr>
              </table>
          </div>
          <div class="col-md-1"></div>

      
  </div>
</div>