button{
    background-color: rgb(13, 136, 79);
}/* You can add global styles to this file, and also import other style files */



.spx {
    background-image: url("assets/sfondopx.jpg");
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-top: 7%;
    height: 80vh;
   
    

}

.background{
    background-image: url("assets/sfondomtx.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.form-container{
    height: 45vh;
    background-color: #3d4652;
    
}


